@media only screen and (min-width: 1025px) {

    .Home {
        display: flex;
        width: auto;
    }

    .AboutSection {
        width: auto;
        display: flex;
    }

    .HomeTab {
        display: none;
    }

}

@media only screen and (max-width: 1024px) {
    .Home {
        display: none;
    }

    .AboutSection {
        width: auto;
        display: flex;
    }

}