.NavbarTab {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    gap: 10vh;
    font-family: "Bruno Ace", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 6vh;
    margin-bottom: 0;
    width: 100%;
}

.linkTab {
    text-decoration: none;
    color: #78FECF;
    font-size: 1.75vh;
    width: auto;
    /*border-left: 1px solid #78FECF;
    padding-left: 15px;*/
}

@media only screen and (max-width: 1024px) {

    .linkTab {
        font-size: 2vh;
    }
}

@media only screen and (max-width: 500px) {
    .NavbarTab {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: row;
        gap: 4vh;
        font-family: "Bruno Ace", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-top: 6vh;
        margin-bottom: 0;
        width: auto;
    }

    .linkTab {
        font-size: 1.85vh;
    }
}

@media only screen and (max-width: 400px) {
    .linkTab {
        font-size: 1.85vh;
    }
}