.Navbar {
    display: flex;
    flex-direction: column;
    gap: 19vh;
    font-family: "Bruno Ace", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 6vh;
    margin-bottom: 0;
    margin-left: 10vh;
    width: 400px;
}

.link {
    text-decoration: none;
    color: #78FECF;
    font-size: 5vh;
    transition: all 0.2s;
    border-left: 1px solid #78FECF;
    padding-left: 15px;
}

.link:hover {
    color: white;
    text-decoration: underline;
    padding-left: 30px;
}

@media only screen and (max-width: 1024px) {
    .link {
        font-size: 4vh;
        width: 230px;
    }

    .link:hover {
        padding-left: 13px;
    }
}