@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Bruno+Ace+SC&family=Bungee&family=Cabin+Condensed:wght@400;500;600;700&display=swap');

.About {
    margin-top: 20vh;
    margin-bottom: 3vh;
    font-family: "Bruno Ace", sans-serif;
}