@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Bruno+Ace+SC&family=Bungee&family=Cabin+Condensed:wght@400;500;600;700&display=swap');

.About {
    margin-top: 20vh;
    margin-bottom: 3vh;
    font-family: "Bruno Ace", sans-serif;
}


@media only screen and (max-width: 1024px) {
    .About {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: auto;
    }

    .line {
        display: block;
        margin-left: 20px;
        background-color: aquamarine;
        width: 130px;
        height: 2px;
    }
}