@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Bruno+Ace+SC&family=Bungee&family=Cabin+Condensed:wght@400;500;600;700&display=swap");

.Projects {
  margin-bottom: 3vh;
  font-family: "Bruno Ace", sans-serif;
  padding-top: 5vh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 40vh;
  height: auto;
  font-family: "Bruno Ace", sans-serif;
}

.projectTileContainer {
  display: grid;
  grid-template-columns: 500px 500px 1fr;
  padding-top: 5vh;
}

.trackdetails {
  display: flex;
  flex-direction: column;
}

.tags {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 150px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 1024px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .Projects {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: auto;
  }

  .line {
    display: block;
    margin-left: 20px;
    background-color: aquamarine;
    width: 475px;
    height: 2px;
  }

  .tags {
    margin-left: 22px;
  }

  .projectTileContainer {
    display: grid;
    grid-template-columns: 400px 400px;
    row-gap: 30px;
  }
}

@media only screen and (max-width: 850px) {
  .Projects {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: auto;
  }

  .line {
    display: block;
    margin-left: 20px;
    background-color: aquamarine;
    width: 315px;
    height: 2px;
  }
}

@media only screen and (max-width: 500px) {
  .Projects {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 50vh;
  }

  .main {
    width: 100%;
  }

  .projectTileContainer {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }

  .line {
    display: block;
    margin: auto;
    margin-top: 20px;
    background-color: aquamarine;
    width: 15vh;
    height: 2px;
  }
}

@media only screen and (max-width: 400px) {
  .line {
    width: 77px;
  }
}
