@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Bruno+Ace+SC&family=Bungee&family=Cabin+Condensed:wght@400;500;600;700&display=swap');

.Timeline {
    margin-bottom: 3vh;
    font-family: "Bruno Ace", sans-serif;
    padding-top: 5vh;
}

.main {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 40vh;
    height: auto;
    font-family: "Bruno Ace", sans-serif;
}

.trackContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 5vh;
}

.trackdetails {
    display: flex;
    flex-direction: column;
}


@media only screen and (max-width: 1024px) {
    .main {
        display: flex;
        flex-direction: column;
    }

    .Timeline {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: auto;
    }

    .line {
        display: block;
        margin-left: 20px;
        background-color: aquamarine;
        width: 518px;
        height: 2px;
    }
}

@media only screen and (max-width: 850px) {
    .Timeline {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: auto;
    }

    .line {
        display: block;
        margin-left: 20px;
        background-color: aquamarine;
        width: 315px;
        height: 2px;
    }
}

@media only screen and (max-width: 500px) {
    .Timeline {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: auto;
        margin-top: 50vh;
    }

    .line {
        display: block;
        margin-left: 20px;
        background-color: aquamarine;
        width: 14vh;
        height: 2px;
    }
}

@media only screen and (max-width: 400px) {
    .line {
        width: 77px;
    }
}